---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/layouts/Footer.astro";
import { DockNavbar } from "@/layouts/dock-navbar";
import PageContainer from "@/layouts/PageContainer.astro";
import Projects from "@/sections/Projects.astro";
import Hero from "@/sections/Hero.astro";
import About from "@/sections/About.astro";
import AppBackground from "@/components/AppBackground.astro";
---

<Layout>
    <DockNavbar client:load />
    <main class="pt-5 sm:pt-0 relative">
        <PageContainer>
            <Hero />
            <About />
            <Projects />
        </PageContainer>
    </main>
    <Footer />
    <AppBackground />
</Layout>
