---
import Layout from "@/layouts/Layout.astro";
import Home from "@/pages/Home.astro";
import Navbar from "@/layouts/Navbar.astro";
import Footer from "@/layouts/Footer.astro";
---

<Layout>
    <Navbar />
    <main class="mt-[68px]">
        <Home />
    </main>
    <Footer />
</Layout>
