<>
    <div
        class="absolute inset-0 -z-50 dark:bg-black! bg-white!"
        style={{
            background:
                "radial-gradient(ellipse 80% 60% at 50% 0%, rgba(120, 180, 255, 0.1), transparent 70%)",
        }}
    >
    </div>

    <!-- <div
        class="absolute inset-0 -z-40"
        style={{
            backgroundImage: `
       radial-gradient(circle at 25% 25%, #222222 0.5px, transparent 1px),
       radial-gradient(circle at 75% 75%, #111111 0.5px, transparent 1px)
     `,
            backgroundSize: "10px 10px",
            imageRendering: "pixelated",
        }}
    >
    </div> -->
</>
