<div class="relative flex justify-center lg:justify-start">
    <div
        class="w-fit p-1 rounded-full bg-linear-to-tr from-blue-500 via-purple-500 to-pink-500 shadow-lg shadow-purple-500/20"
    >
        <div class="bg-background p-1.5 rounded-full">
            <img
                src="/images/hero.jpeg"
                alt="Jose Francisco Arce"
                class="size-20 2xl:size-22 rounded-full object-cover grayscale transition-all duration-300"
            />
        </div>
    </div>
    <a
        href="https://www.linkedin.com/in/jose-francisco-arce-b99824248/"
        target="_blank"
        class="absolute bottom-0 flex items-center gap-1.5 rounded-full border border-background bg-green-500/10 px-2 py-1 text-xs font-medium text-green-500 backdrop-blur-sm transition hover:bg-green-500/20"
    >
        <span class="relative flex h-2 w-2">
            <span
                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full size-2 bg-green-500"
            ></span>
        </span>
        Open to work
    </a>
</div>
