---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class={`flex justify-center items-center mx-auto w-full h-full px-4 sm:px-8 lg:max-w-5xl 2xl:max-w-6xl ${className || ''}`}
>
  <slot />
</div>
