---
import PageContainer from "@/layouts/PageContainer.astro";
---

<section id="about">
    <PageContainer class="flex flex-col gap-8">
        <h2 class="text-5xl font-bold">Sobre mí</h2>
        <p class="text-pretty">
            Estoy en mi último año de Ingeniería en Sistemas y tengo más de 3
            años de experiencia trabajando como freelance. Desarrollé sitios
            web, dashboards y soluciones a medida para distintos clientes,
            aprendiendo a gestionar proyectos, comunicarme bien y resolver
            problemas de forma autónoma. Me interesa seguir creciendo dentro de
            un equipo profesional donde pueda aportar, aprender buenas prácticas
            y trabajar en productos que generen impacto real. Soy una persona
            comprometida, curiosa y con muchas ganas de seguir mejorando.
        </p>
    </PageContainer>
</section>
