---
import { Separator } from "@/components/ui/separator";
import PageContainer from "@/layouts/PageContainer.astro";
---

<section
    id="contact"
    class="flex flex-col justify-center items-center gap-4 pt-16"
>
    <h2 class="text-3xl font-semibold">Contactame</h2>
    <a
        class="text-muted-foreground hover:text-foreground text-2xl underline"
        href="mailto:josefranciscoarce21@gmail.com"
        >josefranciscoarce21@gmail.com</a
    >
    <Separator className="mt-10" />
</section>
