---
import { AuroraText } from "@/components/ui/aurora-text";
import HeroTerminal from "@/components/HeroTerminal.astro";
import HeroAvatar from "@/components/HeroAvatar.astro";
import HeroCallToActions from "@/components/HeroCallToActions.astro";
---

<section
    class="mx-auto flex min-h-[calc(100vh-78px)] items-center justify-center"
>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 items-center gap-8 sm:gap-10 lg:gap-12 2xl:mb-[78px]"
    >
        <div class="flex flex-col gap-4 lg:mb-16">
            <HeroAvatar />

            <div class="space-y-6">
                <div class="flex flex-col gap-4">
                    <h1 class="text-center lg:text-left">
                        <AuroraText
                            client:load
                            className="font-extrabold tracking-tight text-4xl sm:text-5xl text-transparent bg-clip-text bg-linear-to-r from-blue-400 to-purple-600"
                        >
                            Jose Francisco Arce
                        </AuroraText>
                    </h1>

                    <h2
                        class="text-2xl font-semibold text-foreground sm:text-3xl text-center lg:text-left"
                    >
                        <span class="text-blue-500"> Full Stack</span>
                        Developer
                    </h2>
                </div>

                <p
                    class="text-foreground dark:text-muted-foreground text-base 2xl:text-lg text-balance lg:text-pretty 2xl:text-balance leading-relaxed max-w-xl text-center lg:text-left"
                >
                    Apasionado de la tecnología con más de 3 años creando
                    aplicaciones web eficientes y de alto rendimiento. Casi
                    Ingeniero en Sistemas 🎓 y listo para el siguiente desafío.
                </p>
            </div>

            <HeroCallToActions />
        </div>

        <div class="w-full flex justify-center lg:justify-end">
            <HeroTerminal />
        </div>
    </div>
</section>
