---
import { ProjectsBento } from "@/components/projects-bento";
---

<section class="py-16 flex flex-col gap-8" id="projects">
    <h1 class="text-4xl font-bold">Últimos Proyectos</h1>
    <ProjectsBento client:visible />
</section>
