---
import { ProjectsBento } from "@/components/projects-bento";
import Section from "@/components/Section.astro";
---

<Section class="flex flex-col gap-10 items-start" id="projects">
    <h2 class="text-3xl font-bold">Últimos Proyectos</h2>
    <ProjectsBento client:visible />
</Section>
