---
import Linkedin from "@/components/icons/Linkedin.astro";
import Github from "@/components/icons/Github.astro";
import PageContainer from "./PageContainer.astro";
import { Button } from "@/components/ui/button";
import { ContactIcon } from "@/components/icons/Icons";
---

<footer class="py-6 flex flex-col items-center gap-4">
    <PageContainer>
        <div class="flex justify-center gap-4">
            <Button variant="ghost" size="icon" asChild>
                <a href="https://twitter.com/jf_arce">
                    <ContactIcon className="size-8" />
                </a>
            </Button>
            <Button variant="ghost" size="icon" asChild>
                <a
                    href="https://www.linkedin.com/in/jose-francisco-arce-b99824248/"
                >
                    <Linkedin class="size-8" />
                </a>
            </Button>
            <Button variant="ghost" size="icon" asChild>
                <a href="https://github.com/jf-arce">
                    <Github class="size-8" />
                </a>
            </Button>
        </div>
    </PageContainer>
    <p class="text-center text-muted-foreground">
        Made with ❤️ by Jose Francisco Arce.
    </p>
</footer>
