---
import PageContainer from "./PageContainer.astro";
---

<footer>
    <PageContainer>
        <p>Jose Francisco Arce</p>
        <p>© {new Date().getFullYear()} All rights reserved.</p>
    </PageContainer>
</footer>
