---
import '../styles/global.css';
import { Navbar } from '@/components/Navbar';
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  };
  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    });
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
  }
</script>

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'
      rel='stylesheet'
    />
    <title>Astro Basics</title>
  </head>
  <body style="font-family: 'Roboto', sans-serif;">
    <!-- <Navbar client:load /> -->
    <div class='h-screen overflow-hidden'>
      <div class='relative h-full pb-24'>
        <slot />
      </div>
      <Navbar client:load />
    </div>
  </body>
</html>

<style>
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: 100%;
    overflow: hidden;
  }
</style>
